[submodule "vim-addon-manager"]
	path = vim-addon-manager
	url = https://github.com/MarcWeber/vim-addon-manager.git
[submodule "vim-addon-manager-known-repositories"]
	path = vim-addon-manager-known-repositories
	url = https://github.com/MarcWeber/vim-addon-manager-known-repositories.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "surround"]
	path = surround
	url = https://github.com/tpope/vim-surround.git
