[submodule "vim-addon-manager"]
	path = vim-addon-manager
	url = https://github.com/MarcWeber/vim-addon-manager.git
[submodule "vim-addon-manager-known-repositories"]
	path = vim-addon-manager-known-repositories
	url = https://github.com/MarcWeber/vim-addon-manager-known-repositories.git
[submodule "powerline"]
	path = powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "nerdcommenter"]
	path = nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "surround"]
	path = surround
	url = https://github.com/tpope/vim-surround.git
[submodule "tlib"]
	path = tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim-addon-mw-utils"]
	path = vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "snipmate"]
	path = snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "supertab"]
	path = supertab
	url = https://github.com/ervandew/supertab.git
[submodule "Command-T"]
	path = Command-T
	url = https://github.com/wincent/Command-T.git
